.recovery-container {
  display: flex;
  align-items: start;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
  background-color: #ffffff00;
  padding-top: 8%;

}

.recovery-card {
  width: 100%;
  max-width: 30vw;
  background-color: #0c0f1a;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

.recovery-card.active {
  min-width: 70vw;
  justify-self: end;

}


.recovery-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.recovery-subtitle {
  text-align: center;
  font-size: 0.875rem;
  color: #6b7280;
  margin-bottom: 1.5rem;
}

.input-group {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.input-group.active {
  max-width: 25vw;
  justify-self: center;
}

.digit-input {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  outline: none;
  width: 100%;
}


.recover-button {
  width: 100%;
  font-size: 1.125rem;
  font-weight: 500;
  background-color: #2563eb;
  color: white;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.recover-button.active{
  display: flex;
  max-width: 25vw;
  justify-self: center;
}

.recover-button:hover {
  background-color: #1e40af;
}

.error-text {
  color: #dc2626;
  text-align: center;
  margin-top: 1rem;
}

.success-text {
  color: #16a34a;
  text-align: center;
  margin-top: 1rem;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.ghost-button {
  background: none;
  border: none;
  color: #2563eb;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.ghost-reset {
  color: #4b5563;
}

.file-item, .folder-item {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-bottom: 6px;
  border-radius: 6px;
  border-left: #1e40af5a solid 2px;
}

.folder-item {
  background-color: #f0f8ff00;
  cursor: pointer;
}

.file-item {
  background-color: #fdfdfd00;
}

.optionbutton{
  background-color: #0c0f1a00;
  border: none;
  color: #ccc;
  cursor: pointer;
}
