/* Footer.css */

.footer {
  padding-left: 15%;
  padding-right: 15%;
  background-color: #18191a; /* dark:bg-gray-100 */
  color: #dae8fb; /* dark:text-gray-800 */
}

.logo{
  width: 5rem;
  height: 5rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  gap: 2rem;
  line-height: 30px;
  
}

@media (min-width: 1024px) {
  .footer-container {
    flex-direction: row;
    gap: 0;
  }
}

.footer-logo {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem 0.75rem;
}

@media (min-width: 640px) {
  .footer-links {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.footer-section h3 {
  text-transform: uppercase;
  font-weight: 600;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #4b5563; /* hover color */
}

.footer-social-icons {
  display: flex;
  gap: 0.75rem;
}

.footer-social-icons a:hover svg {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.footer-divider {
  border: none;
  height: 1px;
  background-color: #d1d5db; /* gray-300 */
  margin-top: 2rem;
}

.footer-bottom {
  text-align: center;
  padding: 2rem 0;
  font-size: 0.8rem;
  color: #6b7280; /* gray-500 */
}
